extends base

block content
    .allocate-certi
        .aheading Upload Certificate
        .bheading= `Recipient : ${doc.name}`
        form#uploadForm.upload-form
            input(type="text" name="certiname" id="certiname" placeholder="Certificate name")
            input(type="file", name="certificate" id="certificate" accept="*")
            button(type="submit" id="uploadCerti" value="Upload" data-userid=`${doc.id}`) Upload