doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(http-equiv="x-ua-compatible" content="ie=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
            link(rel="preconnect" href="https://fonts.gstatic.com")
            link(href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet")
            link(rel="stylesheet" href="/css/style.css")
            title #{title}
    
    body 

        include _header

        .test
            block content
                .welcome
                    .p1 Welcome to your personal Digital locker!
                    .p2 We have kept your documents safe :)
                    .p3 Please login/signup to continue!

        include _footer

    script(src='/js/bundle.js')
    
